# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.hdf5

# MacOS Files and Folders
.DS_Store

# Data folders in any directory
*/data/*

# ignore csv files
*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints
